<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.last_spring.gameprealpha">

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="Valley of Fortune"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".mainMenu.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".prologue.PrologueStart"
            android:screenOrientation="portrait" />
        <activity
            android:name=".prologue.PrologueDownFirstScene"
            android:screenOrientation="portrait" />
        <activity
            android:name=".prologue.PrologueDownSecondSceneNoBackPack"
            android:screenOrientation="portrait" />
        <activity
            android:name=".prologue.PrologueDownSecondSceneBackPack"
            android:screenOrientation="portrait" />
        <activity
            android:name=".prologue.PrologueUpFirstScene"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="net.hockeyapp.android.appIdentifier"
            android:value="${HOCKEYAPP_APP_ID}" />

        <activity
            android:name=".prologue.PrologueHuntingLodge"
            android:screenOrientation="portrait" />
        <activity
            android:name=".prologue.PrologueHuntingLodgeInside"
            android:screenOrientation="portrait" />
        <activity
            android:name=".prologue.PrologueDownBackpackCutScene"
            android:screenOrientation="portrait" />
        <activity
            android:name=".prologue.PrologueBackpackAfterCutScene"
            android:screenOrientation="portrait" />
        <activity
            android:name=".prologue.PrologueInventory"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyTransparent" />
        <activity
            android:name=".prologue.PrologueHuntingLodgeCutScene"
            android:screenOrientation="portrait" />
        <activity
            android:name=".prologue.PrologueCave"
            android:screenOrientation="portrait" />
        <activity
            android:name=".prologue.PrologueHuntingLodgeHunter"
            android:screenOrientation="portrait" />
        <activity
            android:name=".prologue.PrologueHuntingLodgeExit"
            android:screenOrientation="portrait" />
        <activity
            android:name=".prologue.PrologueAbandonedCar"
            android:screenOrientation="portrait" />
        <activity
            android:name=".prologue.PrologueCaveLabyrinth"
            android:screenOrientation="portrait" />
        <activity android:name=".prologue.PrologueBreakage" />

        <service
            android:name="com.last_spring.gameprealpha.OstWood"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name="com.last_spring.gameprealpha.OstDisturbance"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".prologue.PrologueCavePool"
            android:screenOrientation="portrait" />
        <activity
            android:name=".prologue.PrologueTitle"
            android:screenOrientation="portrait" />

        <service
            android:name="com.last_spring.gameprealpha.OstCave"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".prologue.PrologueBonfire"
            android:screenOrientation="portrait" />
        <activity
            android:name=".prologue.PrologueCaveAfterLabyrinth"
            android:screenOrientation="portrait" />
        <activity
            android:name=".prologue.PrologueRain"
            android:screenOrientation="portrait" />
        <activity
            android:name=".prologue.PrologueBeforeBreakage"
            android:screenOrientation="portrait" />
        <activity
            android:name=".prologue.PrologueBadEnding"
            android:screenOrientation="portrait" />
        <activity
            android:name=".prologue.PrologueGoodEnding"
            android:screenOrientation="portrait" />
        <activity
            android:name=".oldStory.PrologueOldStory"
            android:screenOrientation="portrait" />
        <activity
            android:name=".oldStory.PrologueOldStoryAttack"
            android:screenOrientation="portrait" />
        <activity
            android:name=".prologue.PrologueBackpackHunter"
            android:screenOrientation="portrait" />
        <activity
            android:name=".prologue.PrologueHuntingLodgeAfter"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mainMenu.MainSettings"
            android:screenOrientation="portrait" />
        <activity
            android:name=".prologue.PrologueBox"
            android:screenOrientation="portrait" />
        <activity
            android:name=".chapterTwo.ChapterTwoTrafficJam"
            android:screenOrientation="portrait" />
        <activity
            android:name=".chapterTwo.ChapterTwoStart"
            android:screenOrientation="portrait" />
        <activity
            android:name=".chapterTwo.ChapterTwoApartment"
            android:screenOrientation="portrait" />
        <activity
            android:name=".chapterTwo.ChapterTwoPorch"
            android:screenOrientation="portrait" />
        <activity
            android:name=".chapterTwo.ChapterTwoInstituteEntrance"
            android:screenOrientation="portrait" />
        <activity
            android:name=".chapterTwo.ChapterTwoConferenceHall"
            android:screenOrientation="portrait" />
        <activity
            android:name=".chapterTwo.ChapterTwoCabinet"
            android:screenOrientation="portrait" />
        <activity
            android:name=".chapterTwo.ChapterTwoCabinetBox"
            android:screenOrientation="portrait" />
        <activity
            android:name=".chapterTwo.ChapterTwoFinal"
            android:screenOrientation="portrait" />
        <activity
            android:name=".chapterTwo.ChapterTwoTrafficJamTest"
            android:screenOrientation="portrait" />
        <activity
            android:name=".chapterTwo.ChapterTwoCar"
            android:screenOrientation="portrait" />
        <activity
            android:name=".chapterTwo.ChapterTwoDialog"
            android:screenOrientation="portrait" />
        <activity
            android:name=".chapterTwo.ChapterTwoMenu"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyTransparent" />
        <activity
            android:name=".chapterTwo.ChapterTwoCutScene"
            android:screenOrientation="portrait" />

        <service
            android:name="com.last_spring.gameprealpha.OstRoad"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".chapterTwo.ChapterTwoTitle" />

        <service
            android:name="com.last_spring.gameprealpha.OstSnowy"
            android:enabled="true"
            android:exported="true"></service>
    </application>

</manifest>