<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.last_spring.gameprealpha">

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="Долина Фортуны"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".mainMenu.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".prologue.PrologueStart"
            android:screenOrientation="portrait" />
        <activity
            android:name=".prologue.PrologueDownFirstScene"
            android:screenOrientation="portrait" />
        <activity
            android:name=".prologue.PrologueDownSecondSceneNoBackPack"
            android:screenOrientation="portrait" />
        <activity
            android:name=".prologue.PrologueDownSecondSceneBackPack"
            android:screenOrientation="portrait" />
        <activity
            android:name=".prologue.PrologueUpFirstScene"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="net.hockeyapp.android.appIdentifier"
            android:value="${HOCKEYAPP_APP_ID}" />

        <activity
            android:name=".prologue.HuntingLodge"
            android:screenOrientation="portrait" />
        <activity
            android:name=".prologue.HuntingLodgeInside"
            android:screenOrientation="portrait" />
        <activity
            android:name=".prologue.PrologueDownBackpackCutScene"
            android:screenOrientation="portrait" />
        <activity
            android:name=".prologue.PrologueBackpackAfterCutScene"
            android:screenOrientation="portrait" />
        <activity
            android:name=".prologue.PrologueInventory"
            android:screenOrientation="portrait" />
        <activity
            android:name=".prologue.HuntingLodgeCutScene"
            android:screenOrientation="portrait" />
        <activity
            android:name=".prologue.PrologueCave"
            android:screenOrientation="portrait" />
        <activity
            android:name=".prologue.HuntingLodgeHunter"
            android:screenOrientation="portrait" />
        <activity
            android:name=".prologue.HuntingLodgeExit"
            android:screenOrientation="portrait" />
        <activity
            android:name=".prologue.AbandonedCar"
            android:screenOrientation="portrait" />
        <activity
            android:name=".prologue.CaveLabyrinth"
            android:screenOrientation="portrait" />
        <activity android:name=".prologue.PrologueBreakage" />

        <service
            android:name="com.last_spring.gameprealpha.OstWood"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name="com.last_spring.gameprealpha.OstDisturbance"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".prologue.PrologueCavePool" />
        <activity android:name=".prologue.PrologueTitle" />

        <service
            android:name="com.last_spring.gameprealpha.OstCave"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".prologue.PrologueBonfire"
            android:screenOrientation="portrait" />
        <activity
            android:name=".prologue.PrologueCaveAfterLabyrinth"
            android:screenOrientation="portrait" />
        <activity
            android:name=".prologue.PrologueRain"
            android:screenOrientation="portrait" />
        <activity
            android:name=".prologue.PrologueBeforeBreakage"
            android:screenOrientation="portrait" />
        <activity
            android:name=".prologue.PrologueBadEnding"
            android:screenOrientation="portrait" />
        <activity
            android:name=".prologue.PrologueGoodEnding"
            android:screenOrientation="portrait" />
        <activity
            android:name=".oldStory.PrologueOldStory"
            android:screenOrientation="portrait" />
        <activity
            android:name=".oldStory.PrologueOldStoryAttack"
            android:screenOrientation="portrait" />
        <activity android:name=".prologue.PrologueBackpackHunter" />
        <activity android:name=".prologue.HuntingLodgeAfter" />
        <activity android:name=".mainMenu.MainSettings" />
        <activity android:name=".chapterTwo.ChapterTwoStart" />
        <activity android:name=".prologue.PrologueBox"></activity>
    </application>

</manifest>